<%if current_user %>
 	<div id="profile">
<center><h4 class ="white-text" >Welcome back, <%= @user.username %>!</h4></center>

<div align="left">

</div>
<div align="right">
 
</div>



<br>
<br>
<br>
<ul >

 	<h5 class ="white-text"> My Contacts:</h5>
  <h4 class ="white-text" ><%=@user.contacts.count %></h4>
		<% @user.contacts.each do |contact| %>
		<div class="row" >
  <div class="col s6">
    <div class="card horizontal" >
    <div id="contacts" >
    <h6 class="header"><%= contact.first_name + " " +  contact.last_name%></h6>
    </div>
      <a id="edit" href="/contacts/<%=contact.id%>/edit">edit</a>
      <i class="material-icons">mode_edit</i>
      <form method="post" action="/contacts/<%= contact.id %>">
        <input type="hidden" name="_method" value="delete" />
        <input class="button" type="submit" value="delete" />

      </form>
        <i class="material-icons">delete</i>
    </div>
  </div>


		<% end %>
		</div>
		<br>
<br>
	</ul>
<br>
<br>
<br>



<%end%>
 